.navbar {
    display: flex;
    justify-content: normal;
    align-items: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card {
    box-shadow: 0px 5px 10px rgba(0,255,100,0.5);
}

.card-bg {
    background-color: #ccc;
}

.br {
    border-radius: 4px;
}

.backg {
    background-color: white;
    color: black;
}

.setbg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
.content-adj {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:cover;
}
.subs {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loading-bar{
    height:100px;
    background:linear-gradient(10px,blue,cyan);
}

.animico {
    transition: all 0.2s ease;
}
    .animico:hover {
        transform: scale(1.1);
        color:royalblue;
    }

.btn-anim {
    transition: all 0.3s ease;
}

    .btn-anim:active {
        transform: scale(0.9);
    }


.textlight {
    color: white;
}

    .textlight:hover {
        color: cyan;
    }
